<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lineup_test_2/style.css' %}" />
</head>
<body>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% load static %}
    <div class="container">
        <!-- <table style="width:100%"> -->
        <div class="row">
            {% for path in lineup_order1 %}
                {% if path == chosen %}
                    <img id="chosen" src="{%  static path %}" class="img-responsive image1">
                {% else %}
                    <img src="{%  static path %}" class="img-responsive image1">
                {% endif %}
            {% endfor %}
        </div>

        <div class="row">
            {% for path in lineup_order2 %}
                {% if path == chosen %}
                    <img id="chosen" src="{%  static path %}" class="img-responsive image1">
                {% else %}
                    <img src="{%  static path %}" class="img-responsive image1">
                {% endif %}
            {% endfor %}
        </div>
    <!--</center>-->
    </div>
    <div class="container text-center">
        <h1 style="background-color: lightgoldenrodyellow; color: red">{{ statement }}</h1>
    </div>

    <br>

    <br>
    <div class="container">
        <div class="row text-center">
            <p class="lead">
                <b>Translate the written expression of certainty above onto the following numeric scale:</b>
                <br>
                Note: 60% means less certain; 100% means very certain
            </p>
        </div>
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
                <p class="lead"> Not at All Certain</p>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <form action="{% url 'lineup_test_2:record_answer' uid category 0 %}">
                        <input type="submit" class="btn btn-primary btn-lg" style="width:100%" value="0%"/>
                    </form>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <form action="{% url 'lineup_test_2:record_answer' uid category 20 %}">
                        <input type="submit" class="btn btn-primary btn-lg" style="width:100%" value="20%"/>
                    </form>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <form action="{% url 'lineup_test_2:record_answer' uid category 40 %}">
                        <input type="submit" class="btn btn-primary btn-lg" style="width:100%" value="40%"/>
                    </form>
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <form action="{% url 'lineup_test_2:record_answer' uid category 60 %}">
                        <input type="submit" class="btn btn-primary btn-lg" style="width:100%" value="60%"/>
                    </form>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <form action="{% url 'lineup_test_2:record_answer' uid category 80 %}">
                        <input type="submit" class="btn btn-primary btn-lg" style="width:100%" value="80%"/>
                    </form>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <form action="{% url 'lineup_test_2:record_answer' uid category 100 %}">
                        <input type="submit" class="btn btn-primary btn-lg" style="width:100%" value="100%"/>
                    </form>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
                <p class="lead"> Completely Certain</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</body>
</html>