<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
            <div class="page-header">
                <h1>
                    Thanks for taking our survey!
                </h1>
            </div>
            <p class="lead">Eyewitness Identification and Confidence</p>
            <p class="lead">
                Thank you very much for participating in this experiment because it would be impossible to do this
                research without people, like you, who contribute their time.  The purpose of the project involves
                eyewitness confidence.
            </p>
            <p class="lead">
                We are interested in understanding how different kinds of statements of confidence influence how
                eyewitness evidence is interpreted by 3rd parties (e.g., by jurors and by police officers).
                Moreover, we are particularly interested in how people decide whether or not it is worthwhile to
                assign further police resources to pursuing a particular case.
            </p>
            <p class="lead">
                Thanks again for participating in this experiment!  If you're interested in reading more about this
                project then please look at the following reference:
            </p>
            <p class="lead">
                Dodson, C.S. & Dobolyi, D.G. (2015).  Misinterpreting eyewitness expressions of confidence:
                The featural justification effect.  Law and Human Behavior, 39, 266-280.
            </p>
            <p class="lead">
                If you would like to email the study creator, please direct your email to dodson49 at gmail.com.
            </p>
            <p class="lead">
                Chad Dodson<br>
                Department of Psychology<br>
                University of Virginia<br>
                Charlottesville, VA 22904<br>
                (434) 924 - 4237
            </p>
            {% load static %}
            <p class="lead">
                <b>THIS IS THE STUDY SECRET CODE</b><br>
                <b>{{ code }}</b><br>
                <br>
                PLEASE ENTER THE ABOVE CODE INTO AMAZON TURK BEFORE SUBMITTING THIS HIT
            </p>

        </div>
    </div>

</body>
</html>