<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Test Directory</title>
</head>
<body>

    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
            <div class="page-header">
                <h1>
                    Test Directory
                </h1>
            </div>

            {% if category_list %}
                {% for category in category_list %}
                        <form action="{% url 'lineup_test_2:generate_question' uid category %}">
                            <input type="submit" value={{ category }}  class="btn btn-lg btn-default btn-block"/>
                        </form>
                    <br>
                {% endfor %}
            {% else %}
                <p>No category are available.</p>
            {% endif %}

        </div>
    </div>


</body>
</html>